@import 'tailwindcss';

:root {
	--background: #f2f2f7;
	--background-light: #e5e5ec;
	--foreground: #171717;

	/* Blue */
	--blue-10: #e6effd;
	--blue-50: #b3cbff;
	--blue-100: #86afff;
	--blue-200: #5994ff;
	--blue-300: #2d7bff;
	--blue-400: #0063ea;
	--blue-500: #004dcf;
	--blue-600: #00399e;
	--blue-700: #00266e;
	--blue-800: #00143d;
	--blue-900: #00040d;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto);
	--font-mono: var(--font-roboto-mono);

	/* Primery */
	--color-primary-10: var(--blue-10);
	--color-primary-50: var(--blue-50);
	--color-primary-100: var(--blue-100);
	--color-primary-200: var(--blue-200);
	--color-primary-300: var(--blue-300);
	--color-primary-400: var(--blue-400);
	--color-primary-500: var(--blue-500);
	--color-primary-600: var(--blue-600);
	--color-primary-700: var(--blue-700);
	--color-primary-800: var(--blue-800);
	--color-primary-900: var(--blue-900);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
