@import 'tailwindcss';

:root {
	--background: #e8f1fd;
	--background-light: #d5e2f3;
	--foreground: #171717;

	/* Blue */
	--blue-10: #e6effd;
	--blue-50: #b3cbff;
	--blue-100: #86afff;
	--blue-200: #5994ff;
	--blue-300: #2d7bff;
	--blue-400: #0063ea;
	--blue-500: #004dcf;
	--blue-600: #00399e;
	--blue-700: #00266e;
	--blue-800: #00143d;
	--blue-900: #00040d;

	color-scheme: light;
}

.dark {
	--background: #0f172a;
	--background-light: #1e293b;
	--foreground: #f4f4f4;

	/* Blue (ajústalos a tu gusto para contraste en dark) */
	--blue-900: #00050d;
	--blue-800: #001b3d;
	--blue-700: #01326e;
	--blue-600: #0d4b9e;
	--blue-500: #2166cf;
	--blue-400: #3b82f6;
	--blue-300: #4690ff;
	--blue-200: #579fff;
	--blue-100: #6dafff;
	--blue-50: #8fc0ff;
	--blue-10: #b3d3ff;

	/* Hace que scrollbars/controles usen el esquema oscuro nativo */
	color-scheme: dark;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes modal-show {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes modal-hide {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.95);
	}
}

@keyframes modal-overlay-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes modal-overlay-hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* 2) (Opcional) Utilidad cómoda para no repetir la shorthand */
@utility animate-fade-in {
	animation: fade-in 0.75s ease-out forwards;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto);
	--font-mono: var(--font-roboto-mono);

	/* Primery */
	--color-primary-10: var(--blue-10);
	--color-primary-50: var(--blue-50);
	--color-primary-100: var(--blue-100);
	--color-primary-200: var(--blue-200);
	--color-primary-300: var(--blue-300);
	--color-primary-400: var(--blue-400);
	--color-primary-500: var(--blue-500);
	--color-primary-600: var(--blue-600);
	--color-primary-700: var(--blue-700);
	--color-primary-800: var(--blue-800);
	--color-primary-900: var(--blue-900);
}

/* @media (prefers-color-scheme: light) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

@custom-variant dark (&:where(.dark, .dark *));

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
